.until-november-container{
    height: 633px;
}

.until-november{
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;

    color: white;

}

.until-november-header{
    line-height: 110%;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;

}

.until-november-header span{
    text-decoration: underline;


    text-decoration-thickness: 1.5px;
    text-underline-offset: 7.5px;
}


@media screen and (max-width: 880px) {
    .until-november-header span {
        text-decoration-thickness: 1px;
        text-underline-offset: 3.5px;
    }
}



.until-november-text{
    line-height: 120%;
    font-size: 32px;
}

@media screen and (max-width: 880px) {
    .until-november-header{
        font-size: 20px;
    }

    .banner-overlay-content.until-november{
        gap: 24px;
    }

    .until-november-text{
    font-size: 18px;
    }

    .until-november-container{
    height: 550px;
}


}