.donation-progress-container{
    width: 100%;
    max-width: 806px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #002B9C;
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.donation-progress-text{
    font-size: 16px;
    color: #002B9C;
    font-weight: 400;
}

.donation-progress-subtext{
    font-size: 14px;
    color: #002B9C;
    font-weight: 600;
}

.donation-progress-line-container{
    width: 100%;
    height: 12px;
    border-radius: 50px;
    background-color: #002B9C;
    overflow-x: hidden;
    
    background-color: #002B9C80;

}


.donation-progress-line{
    /* width: 50%; */
    border-radius: 50px;
    height: 12px;
    background-color: #002B9C;
}


.donation-progress-text b{
    font-weight: 600;
}

@media screen and (max-width: 880px) {
    .donation-progress-text{
        font-size: 12px;
    }

    .donation-progress-subtext{
        font-size: 12px;
    }

    .donation-progress-container{
        padding: 10px;
    }
}