.arc-navigation-bar{
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0,0.1);

    box-sizing: border-box;

    display: flex;

    z-index: 10;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.arc-navigation-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1130px;
}

.arc-navigation-help-button{
    height: 54px;
    width: fit-content;
    padding-left: 55px;
    border-radius: 3px;
    padding-right: 55px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #C10801;
    font-weight: 500;
    color: #FFF;
    font-size: 24px;
}

@media screen and (max-width: 880px) {
    
}


@media screen and (max-width: 880px) {
    .arc-navigation-bar{
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    .arc-navigation-help-button{

        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        font-size: 16px;
        height: 42px;
    }

    .arc-navigation-content svg{
        height: 33px;
        width: 76px;
    }
}