.banner-container{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}

.banner-background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
*::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}



.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.banner-overlay.no-fader{

    background-color: transparent;
}

.banner-overlay-content{
    width: 100%;
    max-width: 1130px;
    height: 100%;
    /* padding-left: 155px; */
    /* padding-right: 155px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}