.home-banner{
    height: 830px;
}

.home-banner-header{
    text-transform: uppercase;
    font-size: 64px;
    line-height: 110%;
    width: 100%;
    font-weight: 600;
    color: white;
}

.home-banner-paragraph{
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.sticky{
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 0;
}

.home-banner-help-button{
    height: 58px;
    background-color: #C10801;
    cursor: pointer;
    width: fit-content;
    line-height: 100%;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 33px;
    padding-right: 33px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    border: none;
}


@media screen and (max-width: 880px) {
    .home-banner-header{
        font-size: 28px;
    }

    .home-banner-paragraph{
        font-size: 18px;
        line-height: 120%;  
        margin-bottom: 30px;
    }

    .banner-overlay-content{
        padding-left: 30px;
        padding-right: 30px;
    }

    .banner-overlay-content.home-banner{
        gap: 30px;
    }

    .home-banner-help-button{
        width: 100%;
        height: 60px;
    }

    .home-banner img{
        /* object-position: 80%; */
    }

    .home-banner{
        height: 740px;
    }
}